.From {
  float: left;
  width: 30%;
  margin-left: 10%;
  font-size: 25px;
}

.To {
  float: right;
  width: 30%;
  margin-right: 10%;

  font-size: 25px;
}

.SensDpiFrom {
  padding-top: 2%;
  float: left;
  width: 30%;
  margin-left: 10%;
  font-size: 25px;
}

.ConvertedValue {
  display: flex;
  width: 100%;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 40%;
}

.WaitingLeft {
  padding-top: 20px;
  padding-left: 50%;
  display: flex;
  width: 100%;
  font-size: 20px;
  padding-bottom: 10%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .From {
    float: left;
    width: 35%;
    margin-left: 9%;
    font-size: 20px;
  }
  .To {
    float: right;
    width: 35%;
    margin-right: 9%;

    font-size: 20px;
  }
  .SensDpiFrom {
    padding-top: 3%;
    float: left;
    width: 35%;
    margin-left: 10%;
    font-size: 20px;
  }
  .ConvertedValue {
    display: flex;
    width: 70%;
   
    font-size: 20px;
    padding-top: 50px;
  }
  .WaitingLeft {
    padding-top: 10px;
    display: flex;
    width: 50%;
    font-size: 20px;

  }
  
}
