.From {
  float: left;
  width: 30%;
  margin-left: 10%;
  font-size: 25px;
}

.To {
  float: right;
  width: 30%;
  margin-right: 10%;

  font-size: 25px;
}

.SensDpiFrom {
  padding-top: 2%;
  float: left;
  width: 30%;
  margin-left: 10%;
  font-size: 25px;
}

.ConvertedValue {
  padding-top: 300px;
  padding-left: 40%;
  font-size: 20px;
}

.WaitingLeft {
  font-size: 20px;
  padding-left: 50%;
  padding-top: 10px;
}


@media screen and (max-width: 700px) {
  .ConvertedValue{
    padding-top: 220px;
    padding-left: 30%;
  }
  .From {
    float: left;
    width: 42%;
    margin-left: 6%;
    font-size: 17px;
  }
  
  .To {
    float: right;
    width: 42%;
    margin-right: 6%;
  
    font-size: 17px;
  }

  .SensDpiFrom {
    padding-top: 2%;
    float: left;
    width: 35%;
    margin-left: 6%;
    font-size: 17px;
  }
}



@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .From {
    float: left;
    width: 35%;
    margin-left: 9%;
    font-size: 20px;
  }
  .To {
    float: right;
    width: 35%;
    margin-right: 9%;

    font-size: 20px;
  }
  .SensDpiFrom {
    padding-top: 3%;
    float: left;
    width: 35%;
    margin-left: 10%;
    font-size: 20px;
  }
  .ConvertedValue {
    font-size: 20px;
    padding-top: 300px;
    padding-left: 120px;
  }
  .WaitingLeft {
    padding-top: 10px;

    padding-left: 180px;

    font-size: 20px;
  }
}
