.From {
  float: left;
  width: 30%;
  margin-left: 10%;
  font-size: 25px;
}

.To {
  float: right;
  width: 30%;
  margin-right: 10%;

  font-size: 25px;
}

.SensDpiFrom {
  padding-top: 2%;
  float: left;
  width: 30%;
  margin-left: 10%;
      font-size: 25px;

}


.ConvertedValue {
  display: flex;
  float: right;
  width: 40%;
  font-size: 20px;
  padding-top: 10px;

}

.WaitingLeft {
  padding-top: 15px;
  display: flex;
  float: right;
  width: 40%;
  font-size: 20px;
}

.WaitingRight {
  padding-top: 15px;
  display: flex;
  float: right;
  width: 50%;
  font-size: 20px;
}